
.wrapper{
    position: relative;
    }
    .wrapper span{
    position: absolute;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    font-size: 15px;
   
    }